/* Base page */
body {
    background: rgb(28, 113, 65);
    font-family: "Times New Roman", Times, serif;
    margin: 40px;
    color: #062b12;
    line-height: 1.5;
}

h1 {
    color: whitesmoke;
    text-align: center;
    margin-bottom: 1rem;
}

.about,
.skills,
.projects,
.contact {
    background: #81e187;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

/* container for all projects */
.projects {
  display: flex;
  gap: 20px;              /* space between projects */
}

/* individual project boxes */
.project {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  width: 30%;             /* three boxes fit in one row */
}

/* project images */
.project img {
  width: 100%;            /* image fills the box width */
  height: auto;           /* keeps correct shape */
  border: 2px solid rgb(28, 113, 65);
  border-radius: 5px;
}

/* Made with the help of Chat GPT */
