body {
    background: seagreen;
    font-family: "Times New Roman", Times, sans-serif;
    margin: 40px;
}
h1 {
    color: whitesmoke;
    text-align: center;
}
.about {
    background: #0f6214;
}